.flex-container{
  display: flex; 
  flex-direction: row;  
  justify-content: space-around;
}

.flex-container div{
  flex-basis: 45%;
}


.unordered-list{
  list-style-type: none;
  padding: 0px;
}

.list-item{
  padding:20px;
  margin-top:25px;
  border-radius: 5px;    
  font-weight: bold;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.list-item:hover{
  box-shadow: 5px 5px 10px 2px rgba(161, 161, 161, 0.8);
  /* box-shadow: 5px 5px 10px 2px ; */
}

.list-item>label>input{
 margin-right: 10px;
}

#completedDate{
 
  border:1px solid rgb(185, 185, 185);
  border-radius: 5px;
 
  padding:3px;
  box-shadow: 0.51px 0.51px 2px 0.2px rgba(161, 161, 161, 0.8);
}
